body {
  background-color: #EBFAFC;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #BFBFBF;
}
button {
  font-size: 50px;
  font-family: Vesper;
  height: 80px;
  width: 125px;
  border-radius: 25%;
  border: solid #EAEAEA 5px;
  margin: 10px;

}
#Spacebar{
  width: 100%;
  border-radius: 0%;
}
.Row1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.Row2 {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.Row3 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#Red {
  background: #FCEBFA;
}
#Orange {
  background: #FCEDEB;
}
#Yellow {
  background: #FAFCEB;
}
#Green {
  background: #EBFCF6;
}
#Blue {
  background: #D5F4F9;
}
#Purple {
  background: #EBF2FC;
}
